{% if app.session.get('user') %}
    <div class="header-welcome">
        <h1> Welcome {{ app.session.get('user').pseudo }} !</h1>
    </div>
{% else %}


    {# form_theme form 'bootstrap_3_horizontal_layout.html.twig' #}
    {{ form_start(form,
                    {'action' : path('user_login')}
             )}}
    {{ form_errors(form) }}
    <div class="header-login">

            {{ form_widget(form.pseudo) }}
        <div class="col-xs-12" style="height: 10px;"></div>
            {{ form_widget(form.password) }}
        <div class="col-xs-12" style="height: 10px;"></div>

        <div class="col-xs-offset-3" style="height: 10px;">
            {{ form_row(form.submit) }}
        </div>
    </div>
</div>
{{ form_end(form) }}


</li>
<div class="header-register">
    <p><a href="{{ path('user_register') }}#game-section">S'enregistrer</a> /

        <a href="{{ path('user_lost_password') }}">Mot de passe oublié</a></p>
</div>

{% endif %}
