{% if app.session.get('user') %}
    <div class="header-welcome">
        <h1> Welcome {{ app.session.get('user').pseudo }} !</h1>
    </div>
{% else %}


    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form,
                    {'action' : path('user_login')}
             )}}
    {{ form_errors(form) }}
    <div class="header-login">

        {{ form_row(form.pseudo) }}

        {{ form_row(form.password) }}

        {{ form_row(form.submit) }}
    </div>
</div>
{{ form_end(form) }}


</li>
<div class="header-register">
    <p><a href="{{ path('user_register') }}">S'enregistrer</a> /

        <a href="{{ path('user_lost_password') }}">Mot de passe oublié</a></p>
</div>

{% endif %}
<!--
<li class="dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"> </span>
            <span class="caret"></span>
        </a>
        <ul class="header-register">
            <li><a href="{{ path('user_register') }}">S'enregistrer</a></li>

            <li><a href="{{ path('user_lost_password') }}">Mot de passe oublié</a></li>
        </ul>

    </li>-->