<div>
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form,
                {'action' : path('game_create')})  }}
    <div class="row">
        <div class="col-xs-5">
            {{ form_widget(form.nameRoom) }}
        </div>
        <div class="col-xs-5">
            {{ form_widget(form.nbPlayerMax) }}
        </div>
        <div class="col-xs-2">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}

</div>

