{% extends "@Game/Template/layout.html.twig" %}
{% block content %}
<div>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>ID</th>
                <td>{{game.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{game.status }}</td>
            </tr>

            <tr>
                <th>Name</th>
                <td>{{game.nameRoom }}</td>
            </tr>
            <tr>
                <th>Created Date</th>
                <td>{{game.date.date }}</td>
            </tr>
            <tr>
                <th>Number player</th>
                <td>{{game.nbPlayerMax }}</td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 0;" >
                    {{ dump(nbusers) }}
                    {% if(app.session.get('user')) %}
                        {% if((nbusers) < (game.nbPlayerMax)) %}
                            <div  href="{{ path('game_game_play', {'id': game.id , 'action': 'init'}) }}">
                                <button  disabled="disabled" class=" text-center button-default" style="display: block; width: 100%; margin: 0;">
                                    En attente de joueurs
                                </button>
                            </div>
                        {% else %}
                            <a  href="{{ path('game_game_play', {'id': game.id , 'action': 'init'}) }}">
                                <button   class=" text-center button-default" style="display: block; width: 100%; margin: 0;">
                                    Lancer
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 0;" >
                    {% if(app.session.get('user')) %}
                        <a href="{{ path('game_game_delete', {'id': game.id}) }}">
                            <button class="text-center " style="display: block; width: 100%; margin: 0;">
                                Supprimer
                            </button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        </thead>
     </table>
</div>
{% endblock %}
