{% extends "::base.html.twig" %}

{% block title %}GameBundle:Game:join{% endblock %}

{% block body %}
<h1>Welcome to the Game:join page</h1>
    <h2>{{ game.id }}</h2>
    <p>{{ game.nbPlayer }}/{{ game.nbPlayerMax }}</p>
    {% for i in user %}
        {{ i.id }}
        {{ i.pseudo }}
    {% endfor %}
{% endblock %}
