<div class="col-xs-offset-1 col-xs-10">
    <table class="table table-responsive table-hover text-center">
        <thead >
            <tr >
                <th class="text-center">ID</th>
                <th class="text-center">Status</th>
                <th class="text-center">Name</th>
                <th class="text-center">Created Date</th>
                <th class="text-center">Number player</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
    {% for i in game %}
        <tbody>
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.status }}</td>
                <td>{{ i.nameRoom }}</td>
                <td>{{ i.date.date }}</td>
                <td>{{ i.nbPlayerMax }}</td>
                {% if(app.session.get('user')) %}
                <td ><a href="{{ path('game_game_join', {'id': i.id}) }}">Rejoindre</a></td>
                {% endif %}
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
