<hr>

    <div class="l-container footer">
        <div class="footer-copyright">

            <h3>Developpeurs</h3>
            <ul>
                <li>Nicolas HUGUES</li>
                <li>Nicolas HENRY</li>
                <li>Michael joly</li>
            </ul>
            <h3>Publishers</h3>
            <ul>
                <li>AFPA team</li>
                <li>f2000.fr</li>
            </ul>


        </div>
        <div class="footer-nouscontacter">
            <h3> Nous Contacter</h3>
            <p>Si vous voulez vomir sur ce jeux, ou avoir une suite, vous pouvez nous contacter par pigeon voyageur ou vous plaindre à notre formateur.</p>
            <a href="http://www.f2000.fr/?page=contact">@ Fabien le formateur @</a>
        </div>
        <div class="footer-liens">
            <h3>Liens divers</h3>
            <ul>
                <li>
                    <a href="http://codeincomplete.com/games/gauntlet/">Gauntlet en Version full html5/CSS/JS</a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Gauntlet_(series)">Page wikipedia US sur Gauntlet</a>
                </li>
                <li>
                    <a href="https://www.afpa.fr/">Site de L'AFPA</a>
                </li>
                <li>
                    <a href="http://www.f2000.fr/">Site de form2000</a>
                </li>
            </ul>
        </div>
    </div>

<!--
{% if app.debug %}
    <hr>
    <div class="site-map well">
        <h3>SITEMAP (debug mode only)</h3>
        <ul>
            <li><a href="{{ path('homepage') }}">Homepage</a></li>
        </ul>
        <h4>Users</h4>
        <ul>
            <li><a href="{{ path('user_login') }}">Login</a></li>
            <li><a href="{{ path('user_logout') }}">Logout</a></li>
            <li><a href="{{ path('user_register') }}">Register</a></li>
            <li><a href="{{ path('user_profil') }}">Profil user</a></li>
            <li><a href="{{ path('user_lost_password') }}">Lost Password</a></li>
        </ul>
    </div>

{% endif %}-->
