<div class="plateau">
    {% if text is defined %}
        <h2 class="gore fade-in">{{ text }}</h2>
    {% else %}
        {% for tile in map %}
            <div class="{{ tile.type }}{{ tile.subType }} tile" style="margin-left:{{ tile.positionX }}px; margin-top:{{ tile.positionY }}px"></div>
        {% endfor %}
    {% endif %}
</div>

<div class="infogame">
    <img class="infogame-logo" src="{{ asset('images/gant.png') }}" alt=""/>
    <div class="infogame-player">
        <h1>{{ app.session.get('user').pseudo }}</h1>
        <h2>Points de vie</h2>
        <p class="points-vie-txt">{{ player.hp }}</p>
        <h2>Score</h2>
        <p class="score-txt">{{ player.score }}</p>
        <h2>Items</h2>
        <p>
            {% if player.clef %}
                <img src="{{ asset('images/clef.png') }}" class="items-infos">
            {% endif %}
        </p>
        <hr />
        <a href="{{ path('homepage') }}">Page d'accueil</a>
    </div>
</div>

